<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>

    <h1>Contact</h1>
    <p>Jayyanth sai : jayyanthmalepati1513534@gmail.com</p>
    <p>Siva Kumar : jugulsivakumar@gmail.com</p>
    <p>Charan : charankonduru758@gmail.com</p>
    <p>Satya prakash : inapakurthisatyaprakash@gmail.com</p>
    <p> <%= contactContent %> </p>
<%- include("partials/footer"); -%>
